@model WebMasters.Usuarios

@{
    ViewBag.Title = "Login";
}

<div class="borde_redondo margen login" style=" background-color: white;">
    <div class="espacios_laterales">
        <h1 style="align-content:center;">
            <div class="texto_alineado_centro" style="color:#404240;"> Inicia Sesión</div>
        </h1>
    </div>
    <div style="height:1em;">
        <hr style="color: #ffffff;" />
    </div>
    <div class="espacios_laterales">

        @using (Html.BeginForm("Check", "Usuarios", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <form role="form" class="espacios_laterales espacio_top">
                <div class="form-group">
                    <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" placeholder="Introduce tu email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input class="form-control text-box single-line" id="Contrasena" name="Contrasena" type="password" value="" placeholder="Contraseña">
                    @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <select id="Tipo" name="Tipo" class="form-control text-box single-line">
                        <option value="0">Turista</option>
                        <option value="1">Guia</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            </form>
        }

        ¿No estás registrado? Haz clic  <a href="/Usuarios/Create" style="color:tomato">¡Aquí!</a>


    </div>

</div>


































@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
