@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>World Tours</h1>
    <p class="lead">¿Quieres realizar los mejores Tours por las ciudades más bonitas?</p>
    <p>
        <a href="/Usuarios/Login" class="btn btn-primary btn-lg">Inicia sesión &raquo;</a>
        o
        <a href="/Usuarios/Create" class="btn btn-danger btn-lg">¡Regístrate!</a>
    </p>
</div>