@{
    ViewBag.Title = "Home Page";
}

<div id="home" class="row">
    <div class="col-md-12 text-center">
        <h1>WORLD TOURS</h1>
        <p class="lead">Los mejores tours</p>
        <div class="row">
            <div class="col-md-6">
                <p><a href="~/Usuarios/Signup" class="btn btn-primary btn-lg">Registrar</a></p>
            </div>
            <div class="col-md-6">
                <p><a href="~/Usuarios/Login" class="btn btn-primary btn-lg">Login</a></p>
            </div>
        </div>
    </div>
</div>